@import url('./hamburger');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  padding: 30px;
}

.main {
  max-width: 880px;
  margin: 0 auto;
}

.main__title {
  max-width: max-content;
  margin: auto;
}

.react-resizable {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background-color: #ededed;
}

.react-resizable-handle {
  display: block;
  background-color: #000;
  background-position: 50%;
  background-repeat: no-repeat;
}

.react-resizable-handle-e {
  width: 7px;
  cursor: e-resize;
  background-color: #545342;
  transition: all 0.15s ease 0s;
}

.react-resizable-handle-e:hover {
  background-color: #7e7c65;
}

.layout__contend {
  padding: 30px 20px;
  min-height: 100vh;
  overflow-y: hidden;
}

.layout__contend_none {
  display: none;
}

.layout__container {
  display: 'flex';
  min-height: 100vh;
}

.btns__container {
  display: flex;
  gap: 10px;
}

.note__title {
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  display: inline;
}

.text-error {
  opacity: 0;
  min-height: 20px;
  display: block;
  font-size: 13px;
  color: red;
}

.text-error_visible {
  opacity: 1;
}
