* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
}

a {
  text-decoration: none;
}

.container {
  padding: 30px;
}

.react-resizable {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}
.react-resizable-handle {
  display: block;
  background-color: #000;
  background-position: 50%;
  background-repeat: no-repeat;
}

.react-resizable-handle-e {
  width: 5px;
  height: 100vh;
  cursor: row-resize;
  background-color: #000000;
}
