@import url('./hamburger');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  padding: 30px;
}

.main {
  display: flex;
}

.main__title {
  margin: auto;
}
.react-resizable {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: #ededed;
}
.react-resizable-handle {
  display: block;
  background-color: #000;
  background-position: 50%;
  background-repeat: no-repeat;
}

.react-resizable-handle-e {
  width: 5px;
  height: 100vh;
  cursor: e-resize;
  background-color: #545342;
}

.layout__contend {
  padding: 30px 20px;
}
.layout__container {
  display: 'flex';
  min-height: 100vh;
}

.note__title {
  white-space: nowrap;
  overflow: hidden;
}
